<h2>Resume Builder</h2>
<div class="container" id="resume-template">
  <div class="row">
    <div class="card" ; style="width: 16rem" style="text-align: left">
      <img
        src="default-logo.png"
        class="imag-logo"
        alt="default logo"
        id="imgT"
      />
      <div class="card-body">
        <h5 class="card-title"><b>Personal Details</b></h5>
        <div class="container personal">
          <p class="name1" id="nameT1">{{ FormData.nameField }}</p>
          <p class="address1" id="addT1">
            Address: {{ FormData.addressField }}
          </p>
          <p class="phn1" id="contactT">Contact: {{ FormData.contactField }}</p>
          <p class="email1" id="emailT">Email Id: {{ FormData.emailField }}</p>
          <p class="language1" id="langT">
            Language:{{ FormData.languageField }}Known:
          </p>
        </div>

        <div class="container social">
          <h4 class="social-head">Social Links</h4>
          <hr class="hr-row" />
          <p class="">
            <a id="linkedinField" href="#1"
              >LinkedIn: {{ FormData.linkedinField }}</a
            >
          </p>
          <p class="">
            <a id="gitField" href="#2">Github: {{ FormData.gitField }}</a>
          </p>
          <p class="">
            <a id="fbField" href="#3">Facebook: {{ FormData.fbField }}</a>
          </p>
          <p class="">
            <a id="stField" href="#4">Instagram: {{ FormData.stField }}</a>
          </p>
          <p class="">
            <a id="blogField" href="#5"
              >Personal Blog: {{ FormData.blogField }}</a
            >
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <h1
        class="text-center mt-4"
        id="nameT2"
        style="font-size: 40px; font-weight: bold"
      >
        Candidate Name
      </h1>

      <div class="card mt-4">
        <div class="card-header background">
          <h3>Objective:</h3>
        </div>
        <div class="card-body" id="objectiveT">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
          assumenda iure hic voluptatem reiciendis eum, quas facilis earum
          exercitationem, accusamus iusto, voluptas ducimus suscipit quae modi.
          Quod accusantium, illum impedit quaerat voluptatem odio facilis
          reiciendis obcaecati recusandae minima? Alias, perspiciatis.
        </div>
      </div>

      <div class="card mt-4">
        <div class="card-header background">
          <h3>Work Experience:</h3>
        </div>

        <div class="card-body">
          <ul id="weT">
            <li>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro,
              reprehenderit!
            </li>
            <li>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro,
              reprehenderit!
            </li>
            <li>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro,
              reprehenderit!
            </li>
            <li>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro,
              reprehenderit!
            </li>
          </ul>
        </div>
      </div>

      <div class="card mt-4">
        <div class="card-header background">
          <h3>Education:</h3>
        </div>

        <div class="card-body">
          <ul id="edT">
            <li>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro,
              reprehenderit!
            </li>
            <li>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro,
              reprehenderit!
            </li>
            <li>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro,
              reprehenderit!
            </li>
            <li>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro,
              reprehenderit!
            </li>
          </ul>
        </div>
      </div>

      <div class="card mt-4">
        <div class="card-header background">
          <h3>Certifications:</h3>
        </div>

        <div class="card-body">
          <ul id="cerT">
            <li>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro,
              reprehenderit!
            </li>
            <li>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro,
              reprehenderit!
            </li>
            <li>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro,
              reprehenderit!
            </li>
            <li>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro,
              reprehenderit!
            </li>
          </ul>
        </div>
      </div>

      <div class="card mt-4">
        <div class="card-header background">
          <h3>Project Details:</h3>
        </div>

        <div class="card-body">
          <ul id="projT">
            <li>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro,
              reprehenderit!
            </li>
            <li>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro,
              reprehenderit!
            </li>
            <li>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro,
              reprehenderit!
            </li>
            <li>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro,
              reprehenderit!
            </li>
          </ul>
        </div>
      </div>

      <div class="card mt-4">
        <div class="card-header background">
          <h3>Technical Skills:</h3>
        </div>

        <div class="card-body">
          <ul id="techT">
            <li>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro,
              reprehenderit!
            </li>
            <li>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro,
              reprehenderit!
            </li>
            <li>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro,
              reprehenderit!
            </li>
            <li>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro,
              reprehenderit!
            </li>
          </ul>
        </div>
      </div>

      <div class="card mt-4">
        <div class="card-header background">
          <h3>Decleration:</h3>
        </div>

        <div class="card-body" id="declerationT">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
          assumenda iure hic voluptatem reiciendis eum, quas facilis earum
          exercitationem, accusamus iusto, voluptas ducimus suscipit quae modi.
          Quod accusantium, illum impedit quaerat voluptatem odio facilis
          reiciendis obcaecati recusandae minima? Alias, perspiciatis.
        </div>
      </div>
    </div>

    <div class="container mt-4 text-center">
      <button
        class=""
        id="downloadCV"
        style="
          border-radius: 4px;
          padding: 10px;
          background-color: #1b4f72;
          color: white;
        "
      >
        Print CV
      </button>
    </div>
  </div>
  <script src="/Final_RB_JavascriptOne.js"></script>
</div>
